.main{
    min-width: 1500px;
}
.main-view {
    /*width: 900px;*/
    /*height: 900px;*/
    position: absolute;
    left: 200px;
    top: 200px;
    width: 900px;
    height: 900px;
    background-color: aqua;
}
.main-row-here{
    position: relative;
}

.game-tile {
    height: 200px;
    width: 100px;
    background-color: beige;
    border: 1px solid black;
}

.edge {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}

.vertical {
    height: 100px;
    width: 200px;
    background-color: darkgreen;
    border: 1px solid black;
}
.main-box{
    max-width: 1300px;
}