.main {
    /*margin: auto;*/
    /*min-width: 1300px;*/
}

.main-view {
    padding: 15px;
    /*width: 900px;*/
    /*height: 900px;*/
    position: absolute;
    /*pointer-events: none;*/
    z-index: 1;
    /*left: 200px;*/
    /*top: 200px;*/
    top: 70px;
    left: 70px;
    width: 630px;
    max-height: 630px;
    /*background-color: aqua;*/
}

.owned-square-right {
    width: 10px;
    height: 36px;
    position: absolute;
    left: 68px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 16px;
}

.owned-square-left {
    width: 10px;
    height: 36px;
    position: absolute;
    right: 68px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    bottom: 16px;
}

.owned-square-top {
    height: 10px;
    width: 36px;
    position: absolute;
    left: 16px;
    top: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dice-content {
    font-size: 80px;
    color: #4B77BE;
}

.space-between-dice {
    margin: 0 10px 0 10px;
}

.logs-tab {
    overflow-y: auto;
    max-height: 290px;
    min-height: 290px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.owned-square-bottom {
    height: 10px;
    width: 36px;
    position: absolute;
    left: 16px;
    bottom: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.grey-card {
    filter: grayscale(50%);
}

.double {
    zoom: 2;
}


.info-tab-label {
    width: 150px;
}

.main-view-content {
    max-height: inherit;
}

.upgrade-prop {
    font-size: 25px;
    width: 15px;
    transition-duration: 100ms;
}

.upgrade-prop:hover {
    transform: scale(1.1);
}

.upgrade-col {
    position: relative;
}

.top-tiles-upgrade-bar {
    position: absolute;
    bottom: -3px;
    left: -1px;
    width: 70px;
    height: 3px;
}

.top-tiles-upgrade-bar-component {
    width: 14px;
    filter: invert(100%);
}

.bottom-tiles-upgrade-bar {
    position: absolute;
    top: -3px;
    left: -1px;
    width: 70px;
    height: 3px;
}

.bottom-tiles-upgrade-bar-component {
    width: 14px;
    filter: invert(100%);
}

.left-tiles-upgrade-bar {
    position: absolute;
    top: 0;
    right: -3px;
    height: 70px;
    width: 3px;
}

.left-tiles-upgrade-bar-component {
    height: 14px;
    filter: invert(100%);
}

.right-tiles-upgrade-bar {
    position: absolute;
    top: 0;
    left: -3px;
    height: 70px;
    width: 3px;
}

.right-tiles-upgrade-bar-component {
    height: 14px;
    filter: invert(100%);
}

.upgrade-bar {
    position: absolute;
    top: 2px;
    left: 28px;
    width: 80px;
    height: 10px;
}

.upgrade-bar-other-player {
    margin-top: 11px;
    height: 15px;
}

.bar-component {
    width: 100%;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bar-component-filled {
    background-color: #93e882;
}

.bar-component-left {
    border-left: 1px solid black;
}


.my-properties-table {
    /*height: 200px;*/
    max-height: 550px;
    overflow-y: auto;
    /*width: 100%;*/
}

.other-players-properties-table {
    padding-top: 10px;
    max-height: 415px;
    overflow-y: auto;
}

.info-tab-row {
    margin-bottom: 10px;
}

.actions-tab {
    margin-bottom: 10px;
    padding-top: 5px;
    min-height: 38px;
    max-height: 38px;
    font-size: xx-large;
}

/*.accept-reject-tile-buy-div{*/
/*width: 100%;*/
/*position: relative;*/
/*}*/
.buy-tile-button {
    /*width: 50%;*/
    /*padding-right: 30px;*/
    width: 103.3px;
}

.reject-buy-tile-button {
}

.cursor {
    cursor: pointer;
}

.info-tab {
    font-size: x-large;
    margin-top: 5px;
}

.properties-tab {
    font-size: x-large;
    margin-top: 5px;
}

.main-tabs {
    overflow-x: auto;
}

.main-tab {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.props {
    overflow-y: auto;
}

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.main-row-here {
    position: relative;
}

.player {
    border-radius: 50%;
    width: 21px;
    height: 21px;
    background-color: rgb(171, 233, 255);
}

.my-properties-pic {
    height: 50px;
    width: 50px;
    padding: 2px;
    border: 1px solid black;
    /*background-color: beige;*/
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border: 1px solid black;*/
}

.trade-view-left {
    margin-right: 10px;
}

.player-properties-trade {
    overflow-y: auto;
    max-height: 410px;
    min-height: 410px;
}

.pending-trades {
    overflow-y: auto;
    max-height: 442px;
    cursor: pointer;
}

.main-trade-content {
    padding-bottom: 10px;
}

.trade-money-label {
    font-size: x-large;
}

.trade-prop-name {
    margin-right: 10px;
    margin-left: 10px;
}

.trade-row {
    margin-top: 5px;
}

.trade-properties-pic {
    height: 50px;
    width: 50px;
    padding: 2px;
    border: 1px solid black;
    /*background-color: beige;*/
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border: 1px solid black;*/
}

.tile-info-image-div {
    height: 150px;
    width: 150px;
    padding: 2px;
    border: 1px solid black;
    /*background-color: beige;*/
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border: 1px solid black;*/
}

.game-tile {
    height: 70px;
    width: 70px;
    padding: 2px;
    position: relative;
    z-index: 100;
    /*background-color: beige;*/
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border: 1px solid black;*/
}

.edge {
    /*height: calc((1000px / 13) * 1.5);*/
    /*width: calc((1000px / 13) * 1.5);*/
    background-color: aquamarine;
}

.vertical {
    /*height: calc((1000px / 13) * 2);*/
    /*width: calc((1000px / 13) * 2);*/
    background-color: darkgreen;
    /*border: 1px solid black;*/
}

.main-box {
    margin: auto;
    position: relative;
    width: 770px;
    min-width: 770px;
}

.tile-info-container {
    padding: 10px;
}

.tile-info-name {
    font-size: xx-large;
}

.tile-info-rents {
    min-width: 180px;
    font-size: x-large;
}
.tile-info-upgrades{
    min-width: 250px;
    font-size: x-large;
}
.tile-info-property{
    width: 100%;
}