.main {
    /*min-width: 1300px;*/
}

.main-view {
    /*width: 900px;*/
    /*height: 900px;*/
    position: absolute;
    /*pointer-events: none;*/
    z-index: 1;
    /*left: 200px;*/
    /*top: 200px;*/
    top: 70px;
    left: 70px;
    width: 630px;
    height: 630px;
    background-color: aqua;
}

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.main-row-here {
    position: relative;
}

.game-tile {
    height: 70px;
    width: 70px;
    background-color: beige;
    /*border: 1px solid black;*/
}

.edge {
    /*height: calc((1000px / 13) * 1.5);*/
    /*width: calc((1000px / 13) * 1.5);*/
    background-color: aquamarine;
}

.vertical {
    /*height: calc((1000px / 13) * 2);*/
    /*width: calc((1000px / 13) * 2);*/
    background-color: darkgreen;
    /*border: 1px solid black;*/
}

.main-box {
    width: 770px;
}